<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feedback</title>
    <link rel="stylesheet" href="../style/main.css" type="text/css">
    <link rel="stylesheet" href="../style/custom.css" type="text/css">
</head>

<body>
    <div class="w3-container mainContainer">
        <div class="w3-row header">
            <div class="w3-col m12 l12 ">
                <span class="heading">Name :</span>
                <span class="userTab" id="name"></span>
                <span class="heading">Score :</span>
                <span class="userTab" id="score">0</span>
                <span class="heading">Level :</span>
                <span class="userTab" id="level">1</span>
                <span class="heading" id="chance">Chances:</span>
                <span class="heading" id="chanceDisplay">3</span>
                <span class="heading"></span>

                <a href="../index.html">
                    <span class="heading">Main Menu</span>
                </a>
                <a href="../components/feedback.html">
                    <span class="heading">Feedback Us</span>
                </a>
                <a href="../components/about.html">
                    <span class="heading">About Us</span>
                </a>

            </div>
        </div>
        <p>This is feedback page</p>
        <div class="w3-row">
            <div class="w3-col m3 l3">
                <p></p>
            </div>
            <div class="w3-col m6 l6  w3-panel w3-round-xlarge menueBox">
                <div>Feel free to contact us and feedback</div>
                <div>

                    <img src="../images/Mail-icon.png" alt="img" width="50" height="50" />

                    <a href="https://mail.google.com/mail/u/0/?tab=rm#inbox?compose=jrjtXMnNtBZsnkQxWHCfTqccVNfpJdMnGzDjdTjdKXkQHmPPXTjnLsKsFvHxXHxFHCmhrwpq">irumzas2017@gmail.com</a>
                </div>
                <div>
                    <img src="../images/fb1.png" alt="img" width="50" height="50" />
                    <a href="https://www.facebook.com/saifamervi">@saifamervi</a>
                </div>

                <a href="../components/mainQuiz.html">
                    <button class="w3-button w3-white w3-border w3-border-red w3-round-large">Go Back!</button>
                </a>
                <a href="../index.html">
                    <button class="w3-button w3-white w3-border w3-border-red w3-round-large">Menu!</button>
                </a>

            </div>
            <div class="w3-col m6 l3 w3-border-deep-orange">
                <p></p>
            </div>
        </div>



    </div>
    <div class="footer">&copy;ISH2K19</div>

    <script src="./script/main.js"></script>
</body>

</html>